<% content_for :footer do %>
<link rel="stylesheet" type="text/css" href=<%= "#{url_for_static(:plugin => 'SourceMeterGUI', :path => 'css/license.css')}" %>>
<script src=<%= "#{url_for_static(:plugin => 'SourceMeterGUI', :path => 'js/license.js')}" %>></script>

<script>
$j(document).ready(function() {
    var smFooterContent = '<div><p style="text-align:center;font-size: 11px;">'
        + '<a href="https://sourcemeter.com" target="SourceMeter">SourceMeter</a> '
        + '<a href="https://github.com/FrontEndART/SonarQube-plug-in" target="SourceMeter_github">SonarQube plug-in</a> 7.0</p>';
    var isSMHeaderShown = false;
    <% if @snapshot && @snapshot.root_project && @snapshot.root_project.last_snapshot
        plugins = Api::Utils.java_facade.getPluginsMetadata().select{|plugin| plugin.getKey().include? "SourceMeterAnalyzer"}.to_a.sort
        selected_language = ""
        plugins.each do |plugin|
            name = plugin.getName().sub("SourceMeter ", "").sub(" analyzer", "")
            language = plugin.getKey().sub("SourceMeterAnalyzer", "")
            root_snapshot = @snapshot.root_project.last_snapshot
            license_measure = root_snapshot.measure('SM:' + language + '_license')
            if license_measure %>
                smFooterContent += addLicense('<%= name %>', '<%= license_measure.data %>', isSMHeaderShown);
                isSMHeaderShown = true;
            <% end
        end
    end %>
    if (isSMHeaderShown) {
        smFooterContent += '</table></div></div>';
    }
    $j('#footer').html(smFooterContent + $j('#footer').html());
});
</script>
<% end %>
