<% content_for :sidebar do %>
  <div class="sourcemeter_logo">
      <a href="https://github.com/FrontEndART/SonarQube-plug-in" target="SourceMeter">
          <%= image_tag("#{url_for_static(:plugin => 'SourceMeterGUI', :path => 'MainLogo.png')}", { :width => '100px' }) %>
      </a>
  </div>
<% end %>