doc/usersguide/html.log
doc/usersguide/results/
src/sonarqube-analyzers/sourcemeter-analyzer-base/target/
src/sonarqube-analyzers/sourcemeter-analyzer-cpp/target/
src/sonarqube-analyzers/sourcemeter-analyzer-csharp/target/
src/sonarqube-analyzers/sourcemeter-analyzer-java/target/
src/sonarqube-analyzers/sourcemeter-analyzer-python/target/
src/sonarqube-analyzers/sourcemeter-analyzer-rpg/target/
src/sonarqube-core-plugin/target/
src/sonarqube-gui-plugin/target/
.classpath
.project
.settings
sourcemeter-*.tar.gz
**/.scannerwork
