.sm-button {
    display: block;
    padding: 11px 20px;
    white-space: nowrap;
    transition: background .2s ease;
}

.sm-button.active {
    margin-bottom: -1px;
    border-bottom: 1px solid #fff;
    border-left-color: #e6e6e6;
    background-color: #fff;
}

.sm-loading {
    min-height: 30px;
}

.sm-drilldown-icons {
    height: 16px;
    width: auto;
}