.sm-cloneviewer-metric-container, .sm-cloneviewer-metric-container div {
  display: inline-block;
}
.sm-cloneviewer-metric-container {
  min-width: 240px;
}
.sm-cloneviewer-metric-value-container {
  min-width: 30px;
  text-align: left;
}
.sm-cloneviewer-metric-container div {
  margin: 5px;
}
.sm-cloneviewer-metric-container .sm-cloneviewer-metric-icon-container {
  margin: 0px;
}
.sm-cloneviewer-cloneinstance-highlight {
  background-color: #FFF8B2;
}
.sm-cloneInstanceSelector {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.octicon {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#leftAfterButton {
  width: 56px;
  text-align: center;
  line-height: 50%;
}
#leftBeforeButton {
  width: 56px;
  text-align: center;
  line-height: 50%;
}
#cloneInstanceSelectorContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#cloneClassSelectorContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-bottom: 10px;
}
#cloneInstanceLinkContainer {
  grid-column: 1 / 3
}
