.sm_tab_header {
    overflow-x: none;
    border-bottom: 0px;
    padding-bottom: 0px
}

.sm_tab_header tbody {
    overflow: hidden;
    vertical-align: top;
}

.col {
    padding-right: 40px !important;
}