.sm-icon-clone-class {
    background: url('../graphics/CloneClass.mini.png');
}
.sm-icon-clone-instance {
    background: url('../graphics/CloneInstance.mini.png');
}
.sm-icon-cpp-namespace {
    background: url('../../SourceMeterAnalyzercpp/namespace.mini.png');
}
.sm-icon-cpp-class {
    background: url('../../SourceMeterAnalyzercpp/class.mini.png');
}
.sm-icon-cpp-enum {
    background: url('../../SourceMeterAnalyzercpp/enum.mini.png');
}
.sm-icon-cpp-function {
    background: url('../../SourceMeterAnalyzercpp/function.mini.png');
}
.sm-icon-cpp-interface {
    background: url('../../SourceMeterAnalyzercpp/interface.mini.png');
}
.sm-icon-cpp-lambda {
    background: url('../../SourceMeterAnalyzercpp/lambda.mini.png');
}
.sm-icon-cpp-method {
    background: url('../../SourceMeterAnalyzercpp/method.mini.png');
}
.sm-icon-cpp-struct {
    background: url('../../SourceMeterAnalyzercpp/structure.mini.png');
}
.sm-icon-cpp-union {
    background: url('../../SourceMeterAnalyzercpp/union.mini.png');
}
.sm-icon-java-package {
    background: url('../../SourceMeterAnalyzerjava/package.mini.png');
}
.sm-icon-java-annotation {
    background: url('../../SourceMeterAnalyzerjava/annotation.mini.png');
}
.sm-icon-java-class {
    background: url('../../SourceMeterAnalyzerjava/class.mini.png');
}
.sm-icon-java-enum {
    background: url('../../SourceMeterAnalyzerjava/enum.mini.png');
}
.sm-icon-java-interface {
    background: url('../../SourceMeterAnalyzerjava/interface.mini.png');
}
.sm-icon-java-method {
    background: url('../../SourceMeterAnalyzerjava/method.mini.png');
}

.sm-icon-javascript-package {
    background: url('../../SourceMeterAnalyzerjavascript/package.mini.png');
}
.sm-icon-javascript-class {
    background: url('../../SourceMeterAnalyzerjavascript/class.mini.png');
}
.sm-icon-javascript-method {
    background: url('../../SourceMeterAnalyzerjavascript/method.mini.png');
}

.sm-icon-rpg-system {
  background: url('../../SourceMeterAnalyzerrpg/system.mini.png');
}
.sm-icon-rpg-procedure {
  background: url('../../SourceMeterAnalyzerrpg/procedure.mini.png');
}
.sm-icon-rpg-program {
  background: url('../../SourceMeterAnalyzerrpg/program.mini.png');
}
.sm-icon-rpg-subroutine {
  background: url('../../SourceMeterAnalyzerrpg/subroutine.mini.png');
}
.sm-icon-python-class {
  background: url('../../SourceMeterAnalyzerpython/class.mini.png');
}
.sm-icon-python-function {
  background: url('../../SourceMeterAnalyzerpython/function.mini.png');
}
.sm-icon-python-lambda {
  background: url('../../SourceMeterAnalyzerpython/lambda.mini.png');
}
.sm-icon-python-method {
  background: url('../../SourceMeterAnalyzerpython/method.mini.png');
}
.sm-icon-python-package {
  background: url('../../SourceMeterAnalyzerpython/package.mini.png');
}
.sm-icon-csharp-namespace {
    background: url('../../SourceMeterAnalyzercsharp/namespace.mini.png');
}
.sm-icon-csharp-class {
    background: url('../../SourceMeterAnalyzercsharp/class.mini.png');
}
.sm-icon-csharp-method {
    background: url('../../SourceMeterAnalyzercsharp/method.mini.png');
}
.sm-icon-square{
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  display: inline-block;
}
.sm-icon-rect{
  height: 24px;
  width: 36px;
  background-size: 36px 24px;
  background-repeat: no-repeat;
  display: inline-block;
}
